.note-creator
  display: flex
  flex-direction: column
  align-items: flex-start

  h3
    margin-bottom: 8px
    margin-top: 0

  textarea
    border: 1px solid #7c807f
    color: #211a1a
    padding: 8px
    outline: none
    font-size: 14px
    border-radius: 3px
    margin: 10px 0
    min-width: 200px
    min-height: 100px

  .error
    color: red
    font-size: 13px
    margin-top: 6px
    margin-bottom: 14px
