.note
  padding: 15px 10px
  border-bottom: 1px solid #d0d4d0
  color: #211a1a
  display: flex
  flex-direction: column
  align-items: flex-start

.title
  font-size: 18px
  margin-bottom: 8px

.date
  font-size: 13px
  color: #767a80
  margin-bottom: 5px

.description
  font-size: 15px
  margin-bottom: 10px
